@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk&display=swap');

* {
    font-family: "Comfortaa", sans-serif;
    color: white;
}

body {
    background-color: rgb(7, 7, 7);
    padding: 0;
    margin: 0;
}

.users{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #171c24;
    padding: 20px 10px;
    border-radius: 20px;
    margin-top: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th{
    background-color: #181c21;
}

tr:nth-child(even) { 
    background-color: #292f39; 
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #171c24;
    border-radius: 20px;
}

form input[type="text"]{
    background-color: #181c21;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    color: white;
}

form input[type="text"]:focus{
    border: none;
}

form input[type="submit"]{
    background-color: transparent !important;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 15px;
    letter-spacing: .5px;
    transition: .3s;
}

form input[type="submit"]:hover{
    background-color: transparent !important;
    color: lime;
    border: 1px solid lime;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
}