@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk&display=swap');

*{
    font-family: "Comfortaa", sans-serif;
}

body{
    background-color: rgb(7, 7, 7); /* Very light gray */
    overflow: hidden;
    padding-top: 100px;
}

.container{
    width: 40%;
    background-color: #171c24; /* White */
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    margin: auto;
}

.form-content{
    padding: 10px 0;
}

h2{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
    color: white; /* Dark gray */
}

.form{
    width: 100%;
    text-align: center;
}

input{
    margin-top: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: transparent;
    border: 1px white solid;
    padding: 5px;
    border-radius: 10px;
    color: white;
}


p{
    margin: 0px;
    margin-top: 10px;
}

a{
    color: rgba(255, 255, 255, 0.54); /* Purple */
    text-decoration: none;
    font-size: 13px;
    transition: color 0.3s; /* Add transition effect */
}

a:hover{
    text-decoration: underline;
    color: #007bff; /* Blue */
}

.error-message{
    color: red;   
}

.button{

}
