@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk&display=swap');

*{
    font-family: "Comfortaa", sans-serif;
    color: white;
}

body{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    background-color: rgb(11, 11, 11);
}

.background{
    width: 100%;
    height: 100%;
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 100;
}

section{
    width: 100%;
    padding-top: 100px ;
}

.container{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: #222222;
    align-items: center;

    padding: 10px 20px;
}

.img-wrapper{
    display: inline-block;
    margin-right: 40px;
}

.username{
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 10px;
}

.description{
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    padding-bottom: 70px;
    overflow: hidden;
    color: #b4b2b2;
}

.name{
    display: inline-block;
    overflow: hidden;
}

.profile-img{
    width: 170px;
    height: 170px;
}

.edit{
    display: inline-block;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 80px;
}

.edit-button{
    background-color: rgba(29, 28, 28, 0.368);
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.592);
}

.edit-button:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.067);
}

.info-list{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.info{
    width: 60%;
}

.posts{
    padding: 0;
    margin-top: 40px;
}

.container-posts{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
    padding: 20px;
}

.new-post{
    margin: 0;
    padding: 0;
    width: 100%;
}

textarea{
    width: 95%;
    background-color: #171616;
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.button-post{
    margin-left: 20px;
    margin-top: 10px;
}

.post-form{
    border-bottom: #2c2c2c 1px solid;
    padding-bottom: 20px;
    align-items: center;
}

.profile-img-post{
    width: 30px;
}

.username-post{
    font-size: 14px;
}

.user-img{
    width: 100%;
}

.post-img-wrapper{
    display: inline-block;
}

.post-name-date{
    display: inline-block;
}

.date{
    font-size: 12px;
    color: #b4b2b2;
}

.post{
    padding: 20px;
}

.post-content{
    border-bottom: #2c2c2c 1px solid;
    padding-bottom: 20px;
}

.no-posts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(164, 164, 164);
    width: 20%;
}