@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Space+Grotesk&display=swap');

* {
    font-family: "Comfortaa", sans-serif;
    color: white;
}

body {
    background-color: rgb(7, 7, 7);
}

.common-div {
    padding: 40px;
    width: 24%;
    display: inline-block;
    margin-left: 50px;
}

.section{
    padding-top: 50px;
}

.user {
    padding: 10px;
    width: 100%;
    background-color: #171c24;
    border-radius: 20px;
}

.user-info {
    list-style: none;
}

.user-info li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 1px;
}

.img-wrapper {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin-left: 40px;
    margin-left: auto;
    margin-right: auto;
}

.description {
    color: rgba(202, 202, 202, 0.874);
}

.edit-button {
    padding: 5px 10px;
    color: rgba(202, 202, 202, 0.874);;
    text-decoration: none;
    background-color: rgba(153, 153, 153, 0.326);
}

.edit-button:hover {
    padding: 7px 10px;
    color: rgba(255, 255, 255, 0.959);;
    text-decoration: none;
    background-color: rgba(85, 85, 85, 0.595);
}

.following {
    overflow-y: scroll;
    max-height: 400px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #171c24;
    border-radius: 20px;
    padding-bottom: 10px;
}

.following h3{
    width: 100%;
    cursor: pointer;
}

.f{
    width: 100%;
}

.following::-webkit-scrollbar {
    opacity: 0;
}

.following h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-wrapper-following {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.users {
    margin-top: 10px;
}

.following-username {
    display: inline-block;
    overflow: hidden;
    padding-bottom: 5px;
    margin-left: 5px;
}

.following-username a {
    text-decoration: none;
}

.post-section {
    width: 65%;
    float: right;
    margin-right: 100px;
    margin-left: 0;
}

.section {
    display: flex;
    justify-content: space-between;
}

#delete{
    cursor: pointer;
}

@media (max-width: 1300px) {
    .img-wrapper{
        width: 130px;
        height: 130px;
    }

    .img-wrapper-following{
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 1200px) {
    .img-wrapper{
        width: 130px;
        height: 130px;
    }

    .user-info {
        font-size: 14px;
    }

    .user-info h3{
        font-size: 18px;
    }
}